services:
  app:
    build: .
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - localstack
    networks:
      - notification_network
    env_file:
      - ".env"

  postgres:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - notification_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - ".env"

  worker:
    build: .
    command: bundle exec shoryuken -R -C config/shoryuken.yml
    volumes:
      - .:/app
    depends_on:
      localstack:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - notification_network
    env_file:
      - ".env"

  localstack:
    image: localstack/localstack:latest
    environment:
      SERVICES: sqs
      SQS_ENDPOINT_STRATEGY: off
      LOCALSTACK_HOST: localstack
      DEBUG: 0
    ports:
      - "4566:4566"
    volumes:
      - ./localstack/init-localstack.sh:/etc/localstack/init/ready.d/init-sqs.sh
      - ./tmp/localstack:/var/lib/localstack
    networks:
      - notification_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - ".env"

  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - "1025:1025"
      - "1080:1080"
    networks:
      - notification_network

networks:
  notification_network:
    driver: bridge

volumes:
  postgres_data:
